/* Styles de base pour le body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-size: 2.5em;
    /* Augmente la taille de base de la police */
}

/* Conteneur principal */
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Conteneur du menu */
.menu {
    width: 20%;
    background-color: #eee;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-y: auto;
    /* Pour gérer le débordement si le menu est trop long */
}

/* Styles pour les liens du menu */
.menu a {
    display: block;
    margin: 10px 0;
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Changement de style au survol */
.menu a:hover {
    background-color: #ddd;
}

/* Cadre du contenu */
.content {
    width: 80%;
    border: none;
    height: 100%;
    /* Pour occuper toute la hauteur disponible */
}

/* Section d'introduction */
header {
    background: #bbb;
    color: #fff;
    padding: 50px 0;
    /* Ajuste le padding pour être plus grand */
    margin-top: 50px;
    text-align: center;
}

.intro,
.services,
.testimonials,
.contact {
    padding: 50px;
    /* Ajuste le padding pour être plus grand */
    margin: 50px 0;
    /* Ajuste les marges pour être plus grandes */
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

/* Titres des sections */
.intro h2,
.services h2,
.testimonials h2,
.contact h2 {
    color: #333;
    font-size: 1.5em;
    /* Ajuste la taille des titres */
}

/* Liste des services */
.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    background: #eee;
    margin: 20px 0;
    /* Ajuste les marges des éléments de la liste */
    padding: 20px;
    /* Ajuste le padding des éléments de la liste */
    border-radius: 4px;
}

/* Témoignages */
blockquote {
    background: #f4f4f4;
    border-left: 10px solid #ccc;
    margin: 50px 0;
    /* Ajuste les marges des blockquotes */
    padding: 20px;
    /* Ajuste le padding des blockquotes */
    font-style: italic;
}

blockquote footer {
    text-align: right;
    color: #666;
    font-size: 0.8em;
    /* Ajuste la taille de la police des footers */
}

/* Contact */
.contact p {
    margin: 20px 0;
    /* Ajuste les marges des paragraphes de contact */
}

/* Styles de base pour centrer le formulaire */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-size: 1.5em;
    /* Augmente la taille de base de la police */
}

/* Conteneur du formulaire */
.form-container {
    background: #fff;
    padding: 50px;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 750px;
}

/* Titres */
h1 {

    font-size: 2.5em;
    /* Ajuste la taille des titres */
    text-align: center;
    color: #333;
}


/* Styles pour les étiquettes et les champs de saisie */
label {
    display: block;
    margin-bottom: 12.5px;
    /* Ajuste les marges des étiquettes */
    color: #333;
}


input[type="number"],
input[type="text"],
textarea,
input[type="date"] {
    width: 100%;
    padding: 20px;
    /* Ajuste le padding des champs de saisie */
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    /* Ajuste la taille des champs de saisie */
}

/* Styles pour le bouton de soumission */
.button,
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1em;
    /* Ajuste la taille du bouton de soumission */
}

input[type="submit"]:hover {
    background-color: #555;
}